* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111d4a;
}

/* Grid Box Styling */
main {
  display: flex;
  place-items: center;
  height: 70vh;
}
.container {
  display: grid;
  grid-template-areas:
    "a a a b"
    "c c d d"
    "c c e e";
  gap: 10px;
  width: 50%;
  margin: auto;
}
.box1 {
  background-color: rgb(255, 38, 0);
  grid-area: a;
  padding: 5em;
}
.box2 {
  background-color: rgb(253, 102, 1);
  grid-area: b;
  padding: 3em;
}
.box3 {
  background-color: green;
  grid-area: c;
  padding: 2em;
}
.box4 {
  background-color: rgb(16, 154, 209);
  grid-area: d;
  padding: 3em;
}
.box5 {
  background-color: rgb(16, 154, 209);
  grid-area: e;
  padding: 3em;
}

/* Redirection Button Styling */
.redirect {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.redirect .flex-redirect .flex {
  background-color: rgb(253, 102, 1);
  border-radius: 20px;
  color: hsl(0, 0%, 95%);
  margin: 40px 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #111d4a;
}

.redirect .flex-redirect .flex:hover {
  color: rgb(253, 102, 1);
  background-color: hsl(0, 0%, 95%);
  border: 2px solid rgb(253, 102, 1);
}

.redirect .grid-redirect .grid {
  background-color: rgb(255, 38, 0);
  border-radius: 20px;
  color: hsl(0, 0%, 95%);
  margin: 40px 10px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid #111d4a;
}

.redirect .grid-redirect .grid:hover {
  background-color: hsl(0, 0%, 95%);
  color: rgb(255, 38, 0);
  border: 2px solid rgb(255, 38, 0);
}

/* Media Query Desktop View */
@media screen and (max-width: 1440px) {
  main {
    display: flex;
    place-items: center;
    height: 70vh;
  }
  .container {
    display: grid;
    grid-template-areas:
      "a a a b"
      "c c d d"
      "c c e e";
    gap: 10px;
    width: 50%;
    margin: auto;
  }
}

/* Media Query Tablet View */
@media screen and (max-width: 699px) {
  main {
    display: flex;
    place-items: center;
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    gap: 10px;
    width: 90%;
    margin: auto;
  }
  .box1 {
    background-color: rgb(255, 38, 0);
    padding: 3em;
  }
  .box2 {
    background-color: rgb(253, 102, 1);
    padding: 3em;
  }
  .box3 {
    background-color: green;
    padding: 3em;
  }
  .box4 {
    background-color: rgb(16, 154, 209);
    padding: 3em;
  }
  .box5 {
    background-color: rgb(16, 154, 209);
    padding: 3em;
  }
}



/* Media Query Mobile View */
@media screen and (max-width: 375px) {
  main {
    display: flex;
    place-items: center;
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e";
    gap: 10px;
    width: 90%;
    margin: auto;
  }
  .box1 {
    background-color: rgb(255, 38, 0);
    padding: 3em;
  }
  .box2 {
    background-color: rgb(253, 102, 1);
    padding: 3em;
  }
  .box3 {
    background-color: green;
    padding: 3em;
  }
  .box4 {
    background-color: rgb(16, 154, 209);
    padding: 3em;
  }
  .box5 {
    background-color: rgb(16, 154, 209);
    padding: 3em;
  }
}
