* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Body Styling */
body {
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  width: 100%;
}

/* Flex-Container Styling */
.flex-container {
  height: 70vh;
  width: 80%;
  max-width: 700px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Felx-Boxes Styling */
.flex-box1 {
  background-color: hsl(31, 77%, 52%);
  padding: 0px 20px;
  border-radius: 5px 0px 0px 5px;
}

.flex-box2 {
  background-color: hsl(184, 100%, 22%);
  padding: 0px 20px;
}

.flex-box3 {
  background-color: hsl(179, 100%, 13%);
  padding: 0px 20px;
  border-radius: 0px 5px 5px 0px;
}

/* Heading, Paragraph and Image Styling */
h2 {
  font-family: "Big Shoulders Display", cursive;
  margin: 20px 10px;
  color: hsl(0, 0%, 95%);
}

p {
  margin: 20px 10px;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
}

img {
  margin: 30px 10px 0px 10px;
  width: 40px;
  height: 25px;
}

/* Button Styling */
button {
  padding: 10px 20px;
  border-radius: 20px;
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  margin: 40px 10px;
  cursor: pointer;
}

.button1 {
  color: hsl(31, 77%, 52%);
}

.button1:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(31, 77%, 52%);
}

.button2 {
  color: hsl(184, 100%, 22%);
}

.button2:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(184, 100%, 22%);
}

.button3 {
  color: hsl(179, 100%, 13%);
}

.button3:hover {
  color: hsl(0, 0%, 95%);
  background-color: hsl(179, 100%, 13%);
}

/* Redirection Button Styling */
.redirect {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.redirect .flex-redirect .flex {
  background-color: hsl(31, 77%, 52%);
  border-radius: 20px;
  color: hsl(0, 0%, 95%);
}

.redirect .flex-redirect .flex:hover {
  color: hsl(31, 77%, 52%);
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(31, 77%, 52%);
}

.redirect .grid-redirect .grid {
  background-color: hsl(179, 100%, 13%);
  border-radius: 20px;
  color: hsl(0, 0%, 95%);
}

.redirect .grid-redirect .grid:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(179, 100%, 13%);
  border: 2px solid hsl(179, 100%, 13%);
}

/* Media Query Desktop View */
@media screen and (max-width: 1440px) {
  .flex-container {
    height: 70vh;
    width: 80%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

/* Media Query Tablet View */
@media screen and (max-width: 853px) {
  .flex-container {
    height: 200vh;
    width: 90%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-box1 {
    background-color: hsl(31, 77%, 52%);
    padding: 0px 20px;
    border-radius: 5px 5px 0px 0px;
  }

  .flex-box2 {
    background-color: hsl(184, 100%, 22%);
    padding: 0px 20px;
  }

  .flex-box3 {
    background-color: hsl(179, 100%, 13%);
    padding: 0px 20px;
    border-radius: 0px 0px 5px 5px;
  }
}


/* Media Query Mobile View */
@media screen and (max-width: 375px) {
  .flex-container {
    height: 200vh;
    width: 90%;
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .flex-box1 {
    background-color: hsl(31, 77%, 52%);
    padding: 0px 20px;
    border-radius: 5px 5px 0px 0px;
  }

  .flex-box2 {
    background-color: hsl(184, 100%, 22%);
    padding: 0px 20px;
  }

  .flex-box3 {
    background-color: hsl(179, 100%, 13%);
    padding: 0px 20px;
    border-radius: 0px 0px 5px 5px;
  }
}
